dev_rfc.trc
Python_For_SAP/dev_rfc.trc
config.cnf
Python_For_SAP/config.cnf
Python_For_SAP/.idea/*
Python_For_SAP/.idea
.idea/
.idea/*
Python-For-SAP\Pre_System_Refresh\.idea\
Python-For-SAP\Post_System_Refresh\.idea\
